.detailsPanel {
    height: 200px;
    width: 80%;
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    overflow-y: scroll;

}

.badge {
    border-radius: 5;
}