
<div>
  <div *ngIf="!serviceEvent">
    Click on an event to view its details...
  </div>
  <div *ngIf="serviceEvent">    
    <table class="table mb-0">
      <thead>
        <th>Service Event</th>
        <th>Application</th>
        <th>Severity</th>
        <th>Type</th>
      </thead>
      <tbody>
        <td>{{serviceEvent.description}}</td>
        <td>{{serviceEvent.appName}}</td>
        <td><a href="#" class="badge badge-pill" [ngClass] = "{
          'badge-danger': serviceEvent.severity == 3,
          'badge-warning': serviceEvent.severity == 2,
          'badge-success': serviceEvent.severity == 1
        }">
        {{serviceEvent.severity == 3 ? 'High' : 'Low'}}
      </a></td>
        <td>{{serviceEvent.type}}</td>
      </tbody>
    </table>
    <table class="table">
      <tbody>
        <td class="detailsPanel">
            {{serviceEvent.logEntry}}
        </td>
      </tbody>
    </table>
    <app-service-event-retention [serviceEvent] = "serviceEvent">
    </app-service-event-retention>
  </div>
</div>
