
<br/>
<h4>Create New Service Event</h4>

<div class="form-group">  
    <input type="text" 
           class="form-control" 
           placeholder="Enter App Name"
           [(ngModel)]="serviceEvent.AppName"/>
  </div>

<div class="form-group">  
  <input type="text" 
         class="form-control" 
         placeholder="Enter Description"
         [(ngModel)]="serviceEvent.Description"/>
</div>

<div class="form-group">  
    <input type="text" 
           class="form-control" 
           placeholder="Enter Log Text"
           [(ngModel)]="serviceEvent.LogEntry"/>
  </div>

  <div class="btn-group mr-2" role="group" aria-label="Save">
      <button type="button"
              class="btn btn-primary"
              (click)="createServieEvent()">
              Save
      </button>