<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Service Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/all" class="nav-link active" href="#">All events</a>
        </li>
        <li class="nav-item">
          <a routerLink="/integration" class="nav-link" href="#">Integration Handler</a>
        </li>
        <li class="nav-item">
          <a routerLink="/email-parser" class="nav-link" href="#">Email Parser</a>
        </li>
        <li class="nav-item">
            <a routerLink="/test-form" class="nav-link" href="#">Testing</a>
        </li>
      </ul>
    </div>
  </nav>

