
<div class="alert" 
 (click)="selectServiceEvent()"
 [ngClass] = "{
   'alert-danger': serviceEvent.severity == 3,
   'alert-warning': serviceEvent.severity == 2,
   'alert-success': serviceEvent.severity == 1
 }">
  <div class="container">
    <div class="row alertBox">
      <div class="col-md-4">
        {{serviceEvent.appName}}
      </div>
      <div class="col-md-4">
          {{serviceEvent.description}} 
        </div>
      <div class="col-md-4">
          {{serviceEvent.createDate}}
      </div>
    </div>
  </div>
</div>
